<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descrizione</key>
	<array>
		<string>Progetto ideato nel 2007 da un’antropologa presso l’Università della West Florida per studiare il DNA degli scheletri scavati dalle necropoli romane allo scopo di monitorarne i flussi migratori nell’antichità.Il progetto è stato finanziato attraverso la formula del crowd-funding.</string>
		<string>Film contro la violenza sessuale. Nato come un progetto sociale di un gruppo di ragazzi di 16 e 17 anni e divenuto un lungometraggio professionale intriso della passione, dei sogni e delle paure di vittime innocenti.Il progetto è stato finanziato attraverso la formula del crowd-funding.</string>
		<string>Ssrl di quattro ragazzi italiani neolaureati che vivono in quattro città diverse. Fattelo! produce una lampada ecologica di gran design fatta con il cartone riciclato della pizza.L’azienda è sorta attraverso la formula del crowd-funding.</string>
		<string>Start-Up californiana fondata nel 2012 che produce uno smart-clock in grado di connettersi via Wi-Fi ad uno smartphone visualizzandone e-mail, aggiornamenti di Facebook, eventi sul calendario ecc..L’azienda è sorta attraverso la formula del crowd-funding.</string>
		<string>Progetto sostenuto dal WWF francese per raccogliere i fondi per la salvaguardia dei gorilla di montagna, una specie in via di estinzione, in particolare quelli presenti nel parco di Virunga nella Repubblica Democratica del Congo.Il progetto è stato finanziato attraverso la formula del crowd-funding.</string>
		<string>Azienda olandese specializzata nel settore delle applicazioni per gli smartphone e nello sviluppo di piattaforme di crowdfunding.L’azienda è sorta, a sua volta, attraverso la formula del crowd-funding.</string>
		<string>Campagna di raccolta fondi promossa nel 2010 dal Museo del Louvre di Parigi per raccogliere, fra migliaia di amanti dell’arte, i fondi necessari a rilevare da un collezionista privato il capolavoro rinascimentale “Le tre Grazie” di Cranach.Il progetto è stato finanziato attraverso la formula del crowd-funding.</string>
		<string>Start-Up italiana fondata nel 2011 che ha creato un sito web che permette di fare visite virtuali all&apos;interno di aree raggiungibili solo a piedi, come parchi naturali, montagne, villaggi sperduti, ecc.: una sorta di Google Streetview per sentieri realizzato attraverso un sistema di acquisizione montato su uno zaino, in fase di brevettazione.L’azienda è sorta attraverso la formula del crowd-funding.</string>
		<string>Videogioco per PC realizzato da 2 ragazzi italiani. Ambientato in un UFO esagonale, lo scopo del gioco è di riuscire a raccogliere delle gemme prima degli avversari, attraversando le diverse tessere esagonali che compongono dei veri e propri labirinti. Il progetto è stato finanziato attraverso la formula del crowd-funding.</string>
	</array>
	<key>foto</key>
	<array>
		<string>Ancient Roman DNA Project.png</string>
		<string>BlackOut.png</string>
		<string>Fattelo!.png</string>
		<string>Pebble.png</string>
		<string>Proteggiamo i gorilla.png</string>
		<string>Sellanapp.png</string>
		<string>Tous Mécènes.png</string>
		<string>Trail Me Up.png</string>
		<string>UFHO2.png</string>
	</array>
</dict>
</plist>
