<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descrizione</key>
	<array>
		<string>Mario è un ciclista e spesso pedala per molti chilometri. Pedalando sente la fatica e si rende conto di quanta energia spende; energia che va perduta. Mario pensa a come sarebbe bello se tutta l’energia che esprime pedalando potesse essere incamerata e riutilizzata.</string>
		<string>A Mario viene un’idea: potrebbe creare una sorta di batteria che, applicata alla bicicletta, accumuli l’energia prodotta pedalando. Mario è certo che sia una grandissima idea, un’idea che rivoluzionerà la produzione di energia e la qualità di vita di molte persone.</string>
		<string>Dopo aver formulato l&apos;idea, Mario incontra i primi ostacoli: chi potrebbe dargli credito? Mario non ha soldi ma crede fortemente nella sua idea che potrebbe dare tanto a lui e ai suoi simili. Chi lo aiuterà?</string>
		<string>Mario ha sentito parlare del crowdfunding e lo cerca su internet. Online trova Com-Unity: una piattaforma sulla quale le persone possono pubblicare i loro progetti e stimolare poi amici, parenti e tanti altri a sostenere economicamente le loro idee con piccoli contributi.</string>
		<string>Mario invia a Com-Unity il suo progetto che verrà validato da un comitato etico e che in seguito, supportato dalla competenza di professionisti, diverrà un vero e proprio piano d’azione per portare a termine il suo sogno.</string>
		<string>L’idea di Mario piace alla gente che va sul sito di Com-Unity a sostenerla donando piccole somme di denaro. Ad aiutarlo sono i suoi parenti, colleghi, vicini di casa, amici, amici di amici e tanti altri che Mario non osava nemmeno sperare.</string>
		<string>Ben presto Mario ha gli strumenti per iniziare la sua avventura. Una piccola azienda nasce. Il dispositivo viene creato. Decine, centinaia, migliaia di biciclette iniziano a girare con il dispositivo di Mario. </string>
		<string>Grazie a Mario e ai suoi sostenitori l’inquinamento dell’aria e le bollette della luce calano mentre le case sono sempre illuminate a giorno.</string>
		<string>Mario ora è un imprenditore grazie alla sua idea e a Com-Unity, il nuovo modo di fare crowdfunding.</string>
	</array>
	<key>foto</key>
	<array>
		<string>1 - una storia come tante.png</string>
		<string>2 - l&apos;idea.png</string>
		<string>3 - gli ostacoli.png</string>
		<string>4 - Com-Unity.png</string>
		<string>5 - il progetto.png</string>
		<string>6 - la raccolta fondi.png</string>
		<string>7 - nasce una nuova azienda.png</string>
		<string>8 - un mondo migliore.png</string>
		<string>9 - imprenditori si diventa.png</string>
	</array>
</dict>
</plist>
